.flexbox{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 5% 5%;   
    
}

.symbol{
    height: 50px;
    width: 50px;
   
}

.h1{
    text-align: center;
    color: white;
    /* font-family: ;  Change this later, dont forget */ 
}