 
    /* min-width 1025px, large screens */

    .container{
        display: block;
    }

    
    .icon{
    
        margin-top: 2%;
        margin-left: 5%;

    }




    @media only screen and (max-width: 600px){ 

        .icon{

           display: block;
            margin-top: 4%;
            margin-left: auto;
            margin-right: auto;
            height: 65%;
            width: 65%;
        
        }
    
    
    } /* Define mobile styles */
    
